<div class="pb-5 sm:pb-0 text-gray-700">
  <div class="bg-white overflow-hidden">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="font-light text-center text-3xl text-turqoise">Here to download something?</h3>
      <p class="text-center w-2/3 mx-auto pt-3 text-base">Put your share code in the box below. Then click "Download"!</p>
      <p class="text-center w-2/3 mx-auto pb-5">Each unique code allows for a single download.</p>
    </div>
    <div class="w-1/2 px-8 mx-auto mb-10 clearfix">
      <%= form_with url: "/", method: :put, local: true do |form| %>
        <%= form.text_field :download_code, value: @download_code, placeholder: 'my share code', class: "ml-3 mb-2 h-10 inline-block shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-2/3 text-base border-gray-300 rounded-md" %>
        <%= form.submit "Download", class: "h-10 px-6 inline-block items-center px-4 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-orange hover:bg-turqoise focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700" %>
      <% end %>
      <!-- <button type="button" class="h-10 px-6 inline-block items-center px-4 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-orange hover:bg-turqoise focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
      Download
      </button> -->
      <% if @notice then %>
        <p><%= @notice %></p>
      <% end %>
      <p class="text-right text-xs float-right w-48 mr-7 text-gray-600">If a file has been shared with you via Cloudbeam, the unique share code has been e-mailed to you.</p>
    </div>
  </div>
  <div class="bg-white overflow-hidden">
    <div class="px-2 pt-8 my-6 sm:p-6 text-center w-2/3 mx-auto border-t border-gray-200">
      <p class="text-center mx-auto w-2/3"><b class="text-turqoise text-3xl font-light pb-3">Want to share a file of your own?</b></p>
      <p class="text-center mx-auto w-2/3 pt-3">Visit your <a href="#">My Files</a> dashboard to manage existing files or upload a new file.</p>
      <div class="mt-6">
        <svg class="inline-block h-12 w-12 mx-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
        </svg>
        <svg class="inline-block h-12 w-12 mx-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
        </svg>
      </div>
      <div class="clearfix mt-2 w-1/5 mx-auto">
        <svg class="float-left inline-block h-11 w-11" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
        <svg class="float-right inline-block h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
      </div>
      <p class="text-center mx-auto w-2/3 py-5">Cloudbeam provides temporary file storage for users who need to share a file with their group or team.</p>
      <p class="text-center mx-auto w-2/3">Simply upload the file, and enter the e-mail addresses of each intended recipient. Recipients will receive an e-mail with a unique download code. Cloudbeam will track user downloads of the file for you, and automatically archive the file when all recipients have downloaded it.</p>
    </div>
  </div>
</div>
