<header class="pt-10 bg-navy">
  <div id="page-head" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-left">
    <h1 id="title-heading" class="text-7xl text-pale_yellow mr-4">
      Cloudbeam
    </h1>
  </div>
</header>
