<nav class="bg-navy">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="">
      <div class="flex items-center justify-between h-16 px-4 sm:px-0">
        <div class="flex float-right items-center">
          <div class="hidden md:block">
            <div class="flex items-baseline space-x-4">
              <a href="#" class="bg-cyan-700 text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium">About</a>

              <a href="#" class="text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium">Download</a>

              <a href="#" class="text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium">My Files</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="ml-3 relative">
              <a href="#" class="text-white hover:text-turqoise px-3 py-2 rounded-md text-lg font-medium">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
