<h1>FileEntity#distributed</h1>

<p>
  <%= @greeting %>, find me in app/views/file_entity_mailer/distributed.html.erb
</p>
<p>
  <%= @message %>
</p>
<p> Link: </p>
<%= link_to "Download the file", "/?id=#{@download_code}" %>
<p> Code: </p>
<p> <%= @download_code %> </p>
