<h1>Document Shared</h1>

<h2>
  <%= "You have shared the document #{@document.name} with #{@recipient_emails.length} people:" %>
</h2>
<ul>
  <% @recipient_emails.each do |recipient_email| %>
    <li>
      <%= recipient_email %>
    </li>
  <% end %>
</ul>

<% if @message == "" %>
  <h2> You didn't send them any message. </h2>
<% else %>
  <h2>You sent them the following message: </h2>
  <p><%= @message %></p>
<% end %>