<div id="manage">
  <div class="mt-5  border-b border-gray-200">
    <dl class="sm:divide-y sm:divide-gray-200 mx-20">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-2 sm:gap-4">
        <dt class="text-base font-medium text-gray-500">
          Uploaded date
        </dt>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-1">
          <%= document.created_at %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-2 sm:gap-4">
        <dt class="text-base font-medium text-gray-500">
          File size
        </dt>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-1">
          112 MB
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-2 sm:gap-4">
        <dt class="text-base font-medium text-gray-500">
          File type
        </dt>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-1">
          .zip
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-2 sm:gap-4">
        <dt class="text-base font-medium text-gray-500">
          Number of recipients shared with
        </dt>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-1">
          <%= recipients.count %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-2 sm:gap-4">
        <dt class="text-base font-medium text-gray-500">
          Number of downloads
        </dt>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-1">
          <%= recipients.where.not(downloaded_at: nil).count %>
        </dd>
      </div>
    </dl>
  </div>
  <div class="py-5">
  <%# set download to pull document url %>
    <button class="text-blue-400 background-transparent font-normal pb-2 text-base outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
      Download File
    </button>
  </div>
  <div class="clearfix px-4 py-4 sm:px-6 text-xs">
    <div class="float-right w-80">
      <div class="flex mb-2">
        <p class="text-right">Change your mind? You can permanently delete this file immediately. <b>Be careful!</b> If you delete your file now, any recipients you've shared this with who haven't yet downloaded the file will be unable to do so.</p>
      </div>
      <%= link_to 'Delete', document, 
        method: :delete, data: { confirm: 'Are you sure? This will delete the file and destroy any unused links.' },
        class: "float-right text-red-800 background-transparent font-medium uppercase pb-2 text-xs outline-none focus:outline-none mr-1 mb-1",
        style: "transition: all .15s ease" 
      %>
    </div>
  </div>
</div>
<%#  %>