<div class="flex p-5 my-10 mx-auto max-w-5xl">
  <div class="text-lg text-gray-700 text-center mx-auto">
    <h1 class="my-6 text-turqoise text-9xl">500</h1>
    <p class="mb-10">Whoops! Our server has experienced an error. Don't worry, we've been alerted of the problem. Might we direct you back <a href="/" class="text-orange">home</a>?</p>
  </div>
</div>
