<div class="p-5 mb-5 border-b mx-auto max-w-5xl border-gray-200">
  <h3 class="w-max text-4xl mx-auto font-normal text-navy">
    Meet the Cloudbeam Team
  </h3>
  <p class="my-5 w-max mx-20 text-lg">The Cloudbeam </p>
</div>
<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
  <%= render 'member' %>
</ul>
