<div class="p-5 mb-5 border-b mx-auto max-w-5xl border-gray-200">
  <h3 class="w-max text-4xl mx-auto font-normal text-navy">
    Meet the Cloudbeam Team
  </h3>
  <p class="my-5 mx-20 text-lg text-center">All members of Team Cloubdeam are currently seeking new employment opportunities. Check us out below!</p>
</div>
<ul class="pt-5 grid grid-cols-1 gap-6 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 mb-5">
  <%= render 'member' %>
</ul>
