/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";
// @import "tailwindcss/forms";

/* Add any custom CSS here */
@import "tailwindcss/utilities";

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: 'grey';
}

body {
	background: #f0f7ff;
}

#title-heading {
	font-size: 6.75em;
	font-family: 'Architects Daughter', cursive;
}

#page-head {
	margin: 0 auto;

	h1,
	div,
	div > img {
		display: inline-block;
	}
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.notice {
	color: green;
}

.alert {
	color: red;
}

@keyframes flashgreen {
	from {
		background-color: green;
	}
	to {
		background-color: white;
	}
}

.flash-green {
	animation-name: flashgreen;
	animation-duration: 2s;
}

.alert-ul {
	position: fixed;
	bottom: 0px;
	right: 0px;
	list-style: none;
	padding: 10px;
}

.alert-ul li {
	color: white;
	background-color: rgb(50, 250, 50);
	padding: 5px;
	margin-top: 5px;
}

/* direct_uploads.css */
.direct-upload {
	display: inline-block;
	min-width: 300px;
	min-height: 32px;
	position: relative;
	padding: 2px 4px;
	margin: 3px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	font-size: 16px;
	line-height: 18px;
}

.direct-upload--pending {
	opacity: 0.6;
}

.direct-upload__progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	opacity: 0.2;
	background: #00ff2abb;
	transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
	transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
	opacity: 0.4;
}

.direct-upload--error {
	border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
	display: none;
}

#download-code {
	border-radius: 6px;
	border: 1px solid grey;
}

#email-list  {
  border-radius: 4px;
  border: 1px solid grey;
}

#share-form textarea {
  border-radius: 4px;
  border: 1px solid grey;
}
